/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/700.css';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-green: #069c54;
  --color-dark-mode-green: #1d2521;
  --color-dark-green: #048654;

  --spacing-488px: 488px;
  --spacing-550px: 550px;
  --spacing-80: 80vh;

  --font-sans: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

app-root {
  display: block;
  width: 100%;
}

* {
  scroll-behavior: smooth;
  /* border: 1px dashed red; */
  box-sizing: border-box;
}
